@model IEnumerable<EmployeeManagementCommonHelper.ViewModel.EmployeeDetails>

@{
    ViewData["Title"] = "EmployeeInfo";
}

<p>
    <a asp-action="AddNewEmployeeDetails">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayName("Action")
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ProfilePicture)*@
                <img src="~/Image/@Url.Content(item.ProfilePicture)" style="width:40px;height:40px;margin-left:22px;" alt="@item.ProfilePicture" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateEmployeeDetails", new { id = item.Id }) |
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Delete", "DeleteEmployeeDetails", new { id = item.Id }, new { onclick = "return confirm('Are you sure you want to delete this record?');" })
            </td>
        </tr>
}
    </tbody>
</table>
